node_modules/

package.json
package-lock.json

.env

/client/node_modules/
/server/node_modules/

*.log

.client/.env
.server/.env

/client/build/
/server/build/
dist/

/client/.yarn/
/server/.yarn/
package-lock.json

.DS_Store

Thumbs.db

.vscode/
.idea/

coverage/

*.env.local